@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d34e4e;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e49ba6;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-overflow-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  cursor: default;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.text-auto-fit {
  font-size: clamp(10px, 100%, 18px);
  white-space: nowrap;
}

.escore {
  font-family: 'Escoredream', sans-serif;
}

.pres {
  font-family: 'Presentation', sans-serif;
}

.pdh {
  font-family: 'OngleipParkDahyeon', sans-serif;
}

.ism {
  font-family: 'Isamanru', sans-serif;
}

.gian {
  font-family: 'GiantsInline', sans-serif;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Lobster';
  src: url('../../public/fonts/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Escoredream';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff')
    format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OngleipParkDahyeon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff')
    format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'GiantsInline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}
